.App {
  .App-header {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    font-size: calc(25px + 2vmin);
    color: rgb(15, 5, 5);
  }
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    flex-wrap: wrap;
    justify-items: center;
    .name-header {
      font-family: Frutiger;
      font-size: calc(17px + 2vmin);
      line-height: 1.75;
      word-break: break-word;
    }
    .email-header {
      font-family: Frutiger;
      font-size: calc(15px + 2vmin);
      line-height: 1.75;
      word-break: break-word;
    }
  }
}
.individual-data-container {
  margin-top: calc(40px + 2vmin);
  display: flex;
  justify-content: center;
  .title-classname {
    font-family: monospace;
    font-size: 20px;
    line-height: 1.75;
  }
  .title-classname-detail {
    font-family: cursive;
    font-size: 16px;
    line-height: 1.75;
    word-break: break-all;
  }
}
.App {
  @media screen and (max-width: 1023px) {
    .profile-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-row-gap: 40px;
      grid-column-gap: 40px;
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 767px) {
    .profile-container {
      justify-content: center;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-row-gap: 40px;
      grid-column-gap: 40px;
      flex-wrap: wrap;
    }
  }
}
